{% extends 'base.html' %}

{% block title %}
delete
{% endblock title %}

{% block header %}
タスク削除ページ
{% endblock header %}

{% block content %}
<div class="row">
  <div class="col-md-2">
    タスク名:
  </div>
  <div class="col-md-2">
    {{ object.task_name }}
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    ステータス:
  </div>
  <div class="col-md-2">
    {{ object.status_id }}
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    作成日時:
  </div>
  <div class="col-md-2">
    {{ object.start_date }}
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    完了日時:
  </div>
  <div class="col-md-2">
    {{ object.end_date }}
  </div>
</div>

<form action='' method='POST'>
  {% csrf_token %} 
  <input type='submit' value='delete'>
</form>
{% endblock content %}