{% extends 'base.html' %}

{% block title %}
detail
{% endblock title %}

{% block header %}
タスク詳細
{% endblock header %}

{% block content %}
<div class="row mb-4">
  <div class="col-md-2">
    タスク名:
  </div>
  <div class="col-md-2">
    {{ task.task_name }}
  </div>
</div>
<div class="row mb-4">
  <div class="col-md-2">
    ステータス:
  </div>
  <div class="col-md-2">
    {{ task.status_id }}
  </div>
</div>
<div class="row mb-4">
  <div class="col-md-2">
    作成日時:
  </div>
  <div class="col-md-2">
    {{ task.start_date }}
  </div>
</div>
<div class="row mb-4">
  <div class="col-md-2">
    完了日時:
  </div>
  <div class="col-md-2">
    {{ task.end_date }}
  </div>
</div>
<a href="{% url 'list' %}" class="btn btn-outline-dark btn-sm" tabindex="-1" role="button" aria-disabled="true">一覧ページへ</a>
{% endblock content %}
