{% extends 'base.html' %}

{% block title %}
list
{% endblock title %}

{% block header %}
タスク一覧ページ
{% endblock header %}

{% block content %}
{% for item in object_list %}
<div class="alert alert-warning" role="alert">
  <p>{{ item.task_name }} {{ item.start_date }} {{ item.status_id }}</p>
  <a href="#" class="btn btn-info" tabindex="-1" role="button" aria-disabled="true">編集画面へ</a>
  <a href="#" class="btn btn-success" tabindex="-1" role="button" aria-disabled="true">削除画面へ</a>
  <a href="#" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">削除画面へ</a>
</div>
{% endfor %}
{% endblock content %}